<tr class="active">
  <td class="text-center like-box">
    <div class="like">
      <% if user_signed_in? && current_user.liked?(article) %>
        <%= link_to dislike_article_path(article), method: :put do %>
          <svg width="9" height="8" viewBox="0 0 9 8" xmls="http://www.w3.org/2000/svg">
            <title>Quitar voto</title>
            <path d="m4.53785,8h-9l4,-8l4.5,8z" fill-rule="evenodd" transform="rotate(-180 2.2878487110137944,4)">
          </svg>
          <% end %>
      <%else%>
        <%= link_to like_article_path(article), method: :put do %>
        <svg width="9" height="8" viewBox="0 0 9 8" xmls="http://www.w3.org/2000/svg">
          <title>Quitar voto</title>
          <path d="M9 8H0l4.5-8L9 8z" fill-rule="evenodd">
        </svg>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="text-left">
    <p>
      <b><%= link_to article.title, article, target: "_blank" %></b>
      <small class="text-muted">
        (<%= URI.parse(article.url).host %>)
      </small>
      <br>
      <%= article.score %> votos
      <!-- QUIENES VOTARON -->
      &middot;
      por
      <%= article.user.full_name %>
      <%= distance_of_time_in_words(Time.now, article.created_at) %>
    </p>
  </td>
  <% if user_signed_in? && article.user == current_user %>
    <td class="text-right">
      <ul class="list-inline">
        <li>
          <%= link_to "#", data: { toggle: "popover", content: "#{ render 'articles/partials/popover', article: article }" } do %>
            <%= fa_icon "ellipsis-v" %>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>
