<tr class="active">
  <td class="text-center like-box">
    <div class="like">
      <!--VOTE-->
    </div>
  </td>
  <td class="text-left">
    <p>
      <b><%= link_to article.title, article, target: "_blank" %></b>
      <small class="text-muted">
        <!-- URL -->
      </small>
      <br>
      <!-- TOTAL VOTES --> votos
      <!-- QUIENES VOTARON -->
      &middot;
      por
      <%= article.user.full_name %>
      <%= distance_of_time_in_words(Time.now, article.created_at) %>
    </p>
  </td>
  <% if user_signed_in? && article.user == current_user %>
    <td class="text-right">
      <ul class="list-inline">
        <li>
          <%= link_to "#", data: { toggle: "popover", content: "#{ render 'articles/partials/popover', article: article }" } do %>
            <%= fa_icon "ellipsis-v" %>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>  
</tr>
